*{
    box-sizing: border-box;
}



.apple-block {
    width: 200px;
    height: 300px;
    background-color: rgb(13, 123, 87);
    padding: 20px;
    margin: 20px;
    border: 2px solid rgb(18, 73, 75);
}
.cherry-block {
    width: 200px;
    height: 300px;
    background-color: rgb(76, 76, 122);
    padding: 30px;
    margin: 20px;
    border: 2px solid rgb(171, 197, 199);
}